* {
	box-sizing: border-box;
}

.container {
	overflow: hidden !important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: snow;
	scroll-behavior: auto;
}
button {
	border: 5px solid black;
}
button:focus {
	outline: 0;
}

.key_button {
	height: 11%;
	width: 11%;
	border: 2px solid black;
	position: absolute;
	top: 42%
}
.key_button.left {
	left: -38%
}
.door_container {
	display: flex;
	position: relative;
	justify-content: center;
	width: 40%;
	margin: auto;
}
img {
	width: 100%;
}
img.door_left {
	border: 1px solid black;
	border-right: none;
}
img.door_right {
	border: 1px solid black;
	border-left: none;
}
.plant {
	width:31%;
	height: 40%;
	border-radius: 46.5%;
	border: none;
	position: absolute;
	background: url("assets/plant.jpg");
	background-size: cover
}
.plant.move_right {
	top: 34%;
  left: 116%
}
.chandelier {
	width: 47%;
	height: 26%;
	border: none;
	position: absolute;
	background-size: cover;
}
.chandOn_click {
	width: 47%;
	height: 26%;
	border: none;
	position: absolute;
	background: url("assets/chandOn.jpg");
	background-size: cover;
	z-index: 40;
}

.chand.key_button {
	width: 50px;
	height: 50px;
}
.chandelierOn {
	width: 30px;
	height: 30px;
	background: cadetblue;
}

