* {
	box-sizing: border-box;
}

.container {
	/* overflow: hidden !important; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: snow;
	scroll-behavior: auto;
}
button {
	border: 5px solid black;
}
button:focus {
	outline: 0;
}

.key_button {
	height: 50px;
	width: 50px;
	border: 2px solid black;
	position: absolute;
	top: 210px;
	/* left: 65px; */
}
.door_container {
	display: flex;
	position: relative;
	justify-content: center;
	width: 40%;
	margin: auto;
}
img {
	/* border: 2px solid black; */
	width: 100%;
	background: url("assets/plant.jpg")
}
img.door_left {
	border: 1px solid black;
	border-right: none;
}
img.door_right {
	border: 1px solid black;
	border-left: none;
}
.plant {
	width:140px;
	height: 180px;
	border-radius: 50%;
	border: none;
	position: absolute;
	background: 'white';
	background: url("assets/plant.jpg");
	background-size: cover
}
.chandelier {
	width:185px;
	height:100px;
	border: none;
	position: absolute;
	background: url("assets/chand.jpg");
	background-size: cover

}
.circle.move_right {
	transform: translate();
}

