* {
	box-sizing: border-box;
}

.container {
	overflow: hidden !important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: snow;
}
button {
	border: 5px solid black;
}
button:focus {
	outline: 0;
}

.key_button {
	height: 50px;
	width: 50px;
	border: 2px solid black;
	position: absolute;
	top: 200px;
	left: 65px;
}
.door_container {
	display: flex;
	position: relative;
	justify-content: center;
	width: 40%;
	margin: auto;
}
img {
	border: 2px solid black;
	width: 100%;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	background: 'white';
}
.circle.move_right {
	transform: translate();
}
